numpy==1.24.3
torch
matplotlib
trimesh==3.22.3
pyrender==0.1.45
pybind11==2.10.4
progressbar==2.5
pyglet==2.0.8
boto3
mpl_interactions
mpl_point_clicker
ipyevents
pandas
requests
pycuda==2024.1
torchvision
tensorboard
tensorboardX
scikit-learn